@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Calistoga');

body{
  font-family: "Poppins", sans-serif;
  max-width: 300px;
  margin: auto;
  line-height: 1;
}
a {
  text-decoration: none;
  color: inherit;
}
#title h1{
  font-family: "Calistoga", serif;
  font-size: 48px;
}
#title, .element{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selection{
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.selection li{
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  height: 30px;
  position: relative;
}
.selection label, .selection input{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.selection input[type="radio"]{
  opacity: 0;
  z-index: 100;
}
.selection input[type="radio"]:checked+label, .Checked+label{
  background: lightgrey;
}
.selection label{
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  z-index: 90;
}
#handspace{
  display: flex;
  border: 1px solid black;
  height: 200px;
}
#score{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  width: 100px;


/*
.modalwindow{
  position: relative;
  background-color: white;
  padding: 5px;
  border: 2px solid black;
  width: 300px;
}
#flowerboard{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
}
#flowerboard:not(:target), #tileboard:not(:target), #scoring:not(:target){
  visibility: hidden;
  opacity: 0;
}
.close{
  margin-top: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  width: 100px;
}
*/
